<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DailyDoings</title>
    </head>
    <body>
        <h1>Doings</h1>
        <hr>
        <ul>
            {% for doings in doings %}<li>({{ doings.pk }}): {{ doings.text }}</li>{% endfor %}
        </ul>
        <hr>
        <form method="POST" action="{% url 'core:doings' %}">
            {% csrf_token %}
            {{ doings_form }}
            <button>Submit</button>
        </form>
    </body>
</html>
